.description
{
	background-color: rgb(212, 231, 224);
	border: 2px solid rgb(157, 197, 183);
}

.echeance
{
	background-color: rgb(212, 231, 224);
	border-radius: 5px;
	border: 2px solid rgb(157, 197, 183);
}

